<h1>Applications (Admin)</h1>
<section id='info'>
  <h2>Application Information</h2>
  <hr>
  <%= render partial: "applications/info", locals: { application: @application } %>
</section>
<hr>
<section id='pets'>
<h3>Pets on This Application</h3>
  <ol>
    <% @application_pets.each do |application_pet| %>
      <li>
        <div id="pet-<%= application_pet.pet_id %>">
          <a href="/pets/<%= application_pet.pet_id %>"><%= application_pet.pet.name %></a>
          <% if application_pet.pending? %>
            <%= form_with url: "/applications/#{application_pet.application_id}/pets/#{application_pet.pet_id}", method: :patch, local:true do |form| %>
              <%= form.button 'Approve', type: :submit, name: :admin_action, value: 'approve' %>
              <%= form.button 'Reject', type: :submit, name: :admin_action, value: 'reject' %>
            <% end %>
          <% else %>
            | <%= application_pet.pretty_status %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</section>
