<h1>Create New Application</h1>

<%= form_with id: 'new-form', url: "/applications", method: :post do |form| %>
  <%= form.label(:name, 'Name:') %>
  <%= form.text_field(:name) %>
  <%= form.label(:street_address, 'Street Address:') %>
  <%= form.text_field(:street) %>
  <%= form.label(:city, 'City:') %>
  <%= form.text_field(:city) %>
  <%= form.label(:state, 'State:') %>
  <%= form.text_field(:state) %>
  <%= form.label(:zip_code, 'Zip Code:') %>
  <%= form.text_field(:zip_code) %>
  <%= form.submit(:submit) %>
<% end %>
